@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout_container {
    @apply max-w-[1148px] mx-auto px-[20px] xl:px-[0px];
  }

  .center {
    @apply flex justify-center items-center;
  }
}

.text_gradient {
  background: var(--lin, linear-gradient(90deg, #e9ad83 0%, #9b1fe8 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glowGradient {
  background: linear-gradient(90deg, #e9ad83 0%, #9b1fe8 100%);
  filter: blur(75px);
}
