@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout_container {
    @apply max-w-[1148px] mx-auto px-[20px] xl:px-[0px];
  }

  .center {
    @apply flex justify-center items-center;
  }
}

.text_gradient {
  background: var(--lin, linear-gradient(90deg, #e9ad83 0%, #9b1fe8 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radial {
  border-radius: 1604px;
  background: radial-gradient(
    59.69% 59.69% at 50% 40.31%,
    #d9d9d9 48.22%,
    rgba(217, 217, 217, 0) 65.49%
  );
}
