@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout_container {
    /* @apply max-w-[1148px] mx-auto px-[20px] xl:px-[0px]; */
    @apply mx-auto px-[20px] xl:px-[50px];
  }

  /* .wrapper {
    @apply max-w-[1440px] mx-auto;
  } */

  .center {
    @apply flex justify-center items-center;
  }
}

.text_gradient {
  background: linear-gradient(90deg, #e9ad83 0%, #9b1fe8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glowGradient {
  background: linear-gradient(90deg, #e9ad83 0%, #9b1fe8 100%);
  filter: blur(75px);
}

.primaryGradient {
  background: linear-gradient(
      180deg,
      rgba(190, 190, 190, 0.15) 0%,
      rgba(255, 255, 255, 0) 84%
    ),
    linear-gradient(154deg, #e9ad83 3.59%, #9b1fe8 94.64%);
}
